<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travel.taxi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/yaadtaxi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/yaadtaxi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="com.travel.taxi.Activities.TripDetails"></activity>
        <activity android:name="com.travel.taxi.Activities.ChangePassword" />
        <activity android:name="com.travel.taxi.Activities.User" />
        <activity
            android:name="com.travel.taxi.Activities.Payments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.travel.taxi.Activities.Trips">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.travel.taxi.Map.DashBoard" />
        </activity>
        <activity
            android:name="com.travel.taxi.Activities.Help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.travel.taxi.Activities.Wallet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.travel.taxi.StartupActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.travel.taxi.Notverified"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.travel.taxi.Activities.Coupon"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.travel.taxi.Map.Intermediate"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" /> <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGxlkR-d31zeC7wEDOcCCm_Du7y0xk0UM" />

        <activity
            android:name="com.travel.taxi.Map.DashBoard"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.travel.taxi.MainActivity" />
        <activity
            android:name="com.travel.taxi.Ride.PickLocation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.travel.taxi.Map.DropMapLocation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.travel.taxi.Activities.Otp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.travel.taxi.Activities.PhoneNumber"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.travel.taxi.SignUp"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.travel.taxi.Email"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.travel.taxi.Signin" />
        <activity
            android:name="com.travel.taxi.Password"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.travel.taxi.Activities.UpdateProfile" />

        <receiver android:name="com.travel.taxi.Utils.InternetValidator">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>